<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    <title>Cynthia</title>
  </head>
  <body>
    <div id="root"></div>
    <noscript><strong>We're sorry but cynthia-front doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
  </body>
</html>
