<template>
    <section role="main">
        <button @click="fetchPosts">Fetch All</button>
        <button @click="fetchPostById('318da64d-60de-4323-8b47-9a42ca6449d0')">Fetch ID</button>
        <button @click="fetchPostById('318da64d-60de-4323-8b47-9a42ca6449d1')">Fetch Bad ID</button>
        <button @click="deletePostById('318da64d-60de-4323-8b47-9a42ca6449d0')">Delete one</button>
        <div class="columns is-centered is-variable is-8">
            <div class="column is-6">
                <form class="">
                    <label for="content">Hey what's up ?</label>
                    <textarea id="content" class="textarea" placeholder="You can talk about yourself here"></textarea>
                    <button type="button" class="button is-pulled-right">Submit</button>
                </form>
                <div v-for="post in getPosts" :key="post.id" class="card">
                    <div class="card-header">
                        <div class="card-header-title">{{post.title}}</div>
                        <div class="card-header-icon" aria-label="delete" @click="deletePostById(post.id)">
                            <span class="delete"></span>
                        </div>
                    </div>
                    <div class="card-image">
                        <img alt="Vue logo" src="../../assets/picture.jpg">
                    </div>
                    <div class="card-content">
                        {{post.content}}
                        <br>
                        <time datetime={post.createdAt}>{{post.createdAt}}</time>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./Home.js"></script>
<style lang="scss" src="./Home.scss"></style>
