<template>
    <header role="banner" class="navbar is-dark">
        <div class="navbar-brand">
            <router-link to="/" class="navbar-item">
                <img src="../../assets/logo.png" class="brand" alt="Cynthia" />
                <h1>Cynthia</h1>
            </router-link>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <router-link to="/message" class="navbar-item">Message</router-link>
                <router-link to="/random-page" class="navbar-item">NotFound</router-link>
            </div>
            <div class="navbar-end">
                <a href="/account" class="navbar-item">Mon compte</a>
                <a class="navbar-item" @click="logout">Logout</a>
            </div>
        </div>
    </header>
</template>

<script src="./Header.js"></script>
<style lang="scss" src="./Header.scss"></style>
