<template>
    <section role="main">
        <div class="columns">
            <div class="column is-2">
                <Avatar/>
            </div>
            <div class="column">
                <h1 class="title is-3">{{getName}}</h1>
                <p>mail: {{getEmail}}</p>
                <p>roles: {{getRole}}</p>
            </div>
        </div>
    </section>
</template>

<script src="./Account.js"></script>
<style lang="scss" src="./Account.scss"></style>
