<template>
    <section role="main">
        <img class="imgCentered"
             src="../../assets/404.png"
             alt="404 en moins fun">

    </section>
</template>

<script src="./NotFound.js"></script>
<style lang="scss" src="./NotFound.scss"></style>
